<h1>Cat</h1>
<!-- <ul>
  <li> <%#= cat.name %> </li>
  <li> <%#= cat.color %> </li>
  <li> <%#= cat.sex %> </li>
  <li> <%#= cat.birth_date %> </li>
  <li> <%#= cat.description %> </li>
</ul>
<br>  -->

<table>
  <thead>
    <tr>
      <th colspan="2"><%= cat.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>COLOR</td>
      <td><%= cat.color %></td>
    </tr>
    <tr>
      <td>SEX</td>
      <td><%= cat.sex %></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><%= cat.age %></td>
    </tr>
    <tr>
      <th colspan="2">DESCRIPTION</th>
        
    </tr>
    <tr>
      <td colspan="2"><%= cat.description %></td>
    </tr>
  </tbody>
</table> 